 *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background:#1e1e1e;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;

}

.enter{
    width:100%;
    max-width:420px;
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    color:#fff;
    border-radius:20px;
    padding:20px 10px;
    text-align:center;
    margin:0;
}

.search{
    width:100%;
    display:flex;
    align-items:center;
    gap:8px;
    justify-content:space-between;
}

.search input{
    border:0;
    outline:0;
    background:#ebfffc;
    color:#555;
    padding:10px 12px;
    height:45px;
    border-radius:30px;
    font-size:20px;
    flex:1;
    min-width: 0;
}

.search button{
    border:0;
    outline:0;
    background:#ebfffc;
    border-radius:50%;
    width:45px;
    height:45px;
    cursor:pointer;
}

.search button img{
    width:16px;
}

.weather-icon{
    width:90px;
    margin-top:30px;
}

.temp{
    
    font-weight:500;
    font-size:36px;
}

.city{
    font-size:22px;
    font-weight:400;
    margin-top:10px;
}

.details{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-direction:row;
    margin-top:50px;
    padding:0 10px;
     gap:20px;
}

.col{
    display:flex;
    align-items:center;
    text-align:left;
}

.col img{
    width:32px;
    margin-right:8px;
}

.humidity,
.wind{
    font-size:18px;
}
.weather{
    display: none;
}
.error{
text-align: center;
margin-left:10px;
font-size: 14px;
margin-top: 10px;
display:none;
}
 
